In [7]:
import pandas as pd
import numpy as np
import math



kikstarter = pd.read_csv('kickstarter.csv')


# kikstarter

# kikstarter.shape
# len(kikstarter)

# Вывод данных с начала конца или рандомные из набора данных
# kikstarter.head(5)
# kikstarter.tail(5)
# kikstarter.sample(5)
# 
# kikstarter.columns

# kikstarter['name'].head(12)

# kikstarter[['ID'],['name']].sample(12) СПРОСИТЬ !!! не работает

# kikstarter['main_category'].unique()
# kikstarter['main_category'].value_counts()


# kikstarter['main_category'].value_counts(normalize=True)*100 процентовка по категориям

# kikstarter.info()
# kikstarter['goal'].describe()
# kikstarter['main_category'].describe()

# kikstarter.iloc[10:20:2]




# kikstarter.iloc[10:20,2:2]

# kikstarter.loc[kikstarter['main_category']=='Games']

# Не работает !!
# kikstarter.loc[(kikstarter['main_category']=='Games'['name']) & (kikstarter['goal']>1000)] 



# Создание нового столбца
kikstarter=kikstarter.drop(columns=['ID','Unnamed', 'Unnamed: 0'])
                         
# kikstarter['new_column']= kikstarter['usd pledged']/1000
# kikstarter
# kikstarter.duplicated()


data=pd.DataFrame([[1,2,3],[1,2,3],[2,3,6]], columns=['a','b','c'])


data.loc[data.duplicated()]

# kikstarter.isna().sum()
kikstarter.dropna(subset=['name'],inplace=True)
kikstarter.dropna(subset=['backers'],inplace=True)
kikstarter.dropna(subset=['usd pledged'],inplace=True)
# перевод в дата 

kikstarter['launched'] = pd.to_datetime(kikstarter['launched'])
kikstarter['deadline'] = pd.to_datetime(kikstarter['deadline'])




kikstarter['year'] = kikstarter['launched'].dt.year
kikstarter['month'] = kikstarter['launched'].dt.month
kikstarter['day of week'] =kikstarter['launched'].dt.dayofweek 
kikstarter['hour'] = kikstarter['launched'].dt.hour



kikstarter['goal']=kikstarter['goal'].apply(math.ceil)


kikstarter['goal']=kikstarter['goal'].astype('int')




#Работает !!!
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='US'),['currency']] = 'USD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='CA'),['currency']] = 'CAD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='GB'),['currency']] = 'GBP'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='SE'),['currency']] = 'SEK'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='AU'),['currency']] = 'AUD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='MX'),['currency']] = 'MXN'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='NO'),['currency']] = 'NOK'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='NZ'),['currency']] = 'NZD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='NL'),['currency']] = 'EUR'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='CH'),['currency']] = 'CHF'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='DK'),['currency']] = 'DKK'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='SG'),['currency']] = 'SGD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='HK'),['currency']] = 'HKD'

kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='JP'),['currency']] = 'JPY'

# Все страны которые используют евро можно объединить в одно условие будет менее читабельно так что оставил так 
# там всё будет на подобии  ((kikstarter['country']=='FR') | (kikstarter['country']=='DE') )
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='FR'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='DE'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='ES'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='AT'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='IT'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='BE'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='LU'),['currency']] = 'EUR'
kikstarter.loc[(kikstarter['currency'].isna()) & (kikstarter['country']=='IE'),['currency']] = 'EUR'


#Попытаться сделать с перебором массивов 


#Возможно лучше сделать в функцию

test = kikstarter.loc[kikstarter['currency'].isna()]
test

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real, year, month, day of week, hour]
Index: []

In [8]:
kikstarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374673 entries, 0 to 378660
Data columns (total 18 columns):
name                374673 non-null object
category            374673 non-null object
main_category       374673 non-null object
currency            374673 non-null object
deadline            374673 non-null datetime64[ns]
goal                374673 non-null int32
launched            374673 non-null datetime64[ns]
pledged             374673 non-null float64
state               374673 non-null object
backers             374673 non-null float64
country             374673 non-null object
usd pledged         374673 non-null float64
usd_pledged_real    374673 non-null float64
usd_goal_real       374673 non-null float64
year                374673 non-null int64
month               374673 non-null int64
day of week         374673 non-null int64
hour                374673 non-null int64
dtypes: datetime64[ns](2), float64(5), int32(1), int64(4), object(6)
memory usage: 52.9+ MB

In [9]:


kinopoisk = pd.read_csv('Kinopoisk.csv',sep=';')
# kinopoisk
# eror_bag_lines или как то так если файл не читается или как минимум узнать тип разделителя

In [10]:
kikstarter.isna().sum()

name                0
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
year                0
month               0
day of week         0
hour                0
dtype: int64

In [16]:
kikstarter.groupby('country')['name'].count().reset_index().sort_values(by='name')

   country    name
13      JP      40
14      LU      62
20      SG     555
0       AT     597
2       BE     617
10      HK     618
17      NO     708
4       CH     760
11      IE     811
6       DK    1113
18      NZ    1446
15      MX    1751
19      SE    1756
7       ES    2276
16      NL    2866
12      IT    2877
8       FR    2939
5       DE    4167
1       AU    7836
3       CA   14748
9       GB   33647
21      US  292483

In [25]:
(kikstarter.groupby(['country','state']).agg({'name':'count','backers':'mean','usd pledged':'mean'}).
 reset_index().sort_values(by='usd pledged'))

    country       state    name     backers   usd pledged
74       MX      failed    1014    5.690335     37.029231
87       NO   suspended       6    2.000000     48.448333
75       MX        live     107   10.327103    122.417009
32       DK        live      16   15.125000    129.199375
12       BE        live      12    7.083333    152.109167
92       NZ   suspended      11    7.454545    163.568182
65       JP    canceled       8   28.500000    166.760000
73       MX    canceled     221    9.687783    174.360543
90       NZ        live      11   20.636364    185.487273
4        AT   suspended       6   25.500000    299.763333
77       MX   suspended      13   49.153846    303.464615
71       LU        live       1    4.000000    358.370000
83       NO    canceled     112    8.883929    405.657500
82       NL   suspended      26    3.653846    449.207308
99       SG      failed     276   23.141304    453.211341
76       MX  successful     396   83.757576    478.883636
84       NO      failed     420   11.502381    498.346905
57       IE        live      11   43.000000    505.823636
11       BE      failed     371   12.498652    540.317628
61       IT      failed    1929   11.364956    628.940446
62       IT        live      76   28.973684    638.162105
94       SE      failed    1000   13.840000    674.311840
36       ES      failed    1381   16.026068    698.745829
66       JP      failed      16   43.437500    758.074375
89       NZ      failed     826   14.278450    760.240424
51       HK      failed     261   18.459770    764.275441
44       FR   suspended      14   47.357143    796.705000
102      SG   suspended       6   25.166667    806.125000
56       IE      failed     476   13.962185    830.534433
20       CH    canceled      83   28.987952    830.593133
..      ...         ...     ...         ...           ...
49       GB   suspended     178   39.500000   3327.118315
69       LU    canceled       4    4.250000   3427.670000
2        AT        live      15   32.800000   3712.495333
95       SE        live      20   62.100000   4088.220000
19       CA   suspended     116   63.137931   4693.466207
22       CH        live      14   32.714286   5041.052857
53       HK  successful     216  318.555556   6448.535833
101      SG  successful     178  332.915730   6474.218483
72       LU  successful      19  113.789474   7953.375789
9        AU   suspended      88  261.250000   7968.414886
86       NO  successful     162  121.944444   8865.290370
91       NZ  successful     447  194.919463   9458.270582
38       ES  successful     492  263.995935   9556.174715
107      US   suspended    1215  118.057613   9724.173086
58       IE  successful     207  182.193237  10279.502464
96       SE  successful     509  285.652259  11094.092574
33       DK  successful     360  179.161111  11347.372111
8        AU  successful    2010  263.884577  11959.093338
85       NO        live       8   76.125000  12265.335000
48       GB  successful   12057  202.793481  12840.822151
13       BE  successful     152  182.342105  13140.958750
29       DE   suspended      39  115.256410  13536.902821
18       CA  successful    4131  267.122973  14013.460421
63       IT  successful     439  256.560364  14330.346173
81       NL  successful     617  307.875203  16146.500340
106      US  successful  109248  270.245130  18296.420799
28       DE  successful     937  368.593383  19489.740939
43       FR  successful     908  333.392070  20595.226112
23       CH  successful     187  309.395722  21946.104064
3        AT  successful     107  538.757009  24981.281215

[108 rows x 5 columns]

In [27]:
# kikstarter.groupby('country')['name'].count().reset_index().sort_values(by=['name','usd pledged'])

In [32]:
kikstarter.groupby('hour')['name'].count().reset_index().sort_values(by='name',ascending=False)

    hour   name
18    18  26986
19    19  25342
21    21  25193
20    20  24867
17    17  24344
22    22  24163
23    23  23533
0      0  21677
16    16  19372
1      1  19276
2      2  16595
3      3  14643
15    15  14536
4      4  12883
5      5  11559
6      6  11000
14    14  10874
7      7   8347
13    13   7865
9      9   7276
8      8   7020
12    12   6239
10    10   5708
11    11   5375

In [35]:
# kikstarter.groupby(['country','dayofweek'])['name'].count().reset_index().sort_values(by='country',ascending=False)

In [36]:
#Посмотреть насколько успешны 
kikstarter['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'suspended'],
      dtype=object)

In [ ]:
def state_now(x):
    if(x =='failed' or x=='canceled') or x=='suspended'
        return 'неудача'
    if x =='live'
        return 'В процесе'
    if x =='successful'
        return 'сданы'

In [41]:
#Подсчёт кол ва счётчика

KeyError: False

In [67]:
# kikstarter['country'].reset_index().sort_values(by='country')
kikstarter.loc[kikstarter['country']].count()




#Сделать срез по странам и кол ву заказов

KeyError: "None of [Index(['GB', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',\n       ...\n       'CA', 'NO', 'US', 'US', 'CA', 'US', 'US', 'US', 'US', 'US'],\n      dtype='object', length=374673)] are in the [index]"